@model PagedList.IPagedList<Eshopper.Models.EF.PhieuXuat>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <table class="table">
        <tr>

            <th>
                Đơn hàng ngày
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NgayDat)
                </td>
                <td>
                    @if (item.NgayShip == null)
                    {
                        <b> Đã hủy </b>
                    }
                    else if (item.NgayShip > DateTime.Now)
                    {
                        <b> Đã giao hàng </b>
                    }
                    else

                    {
                        <b> Đang giao hàng </b>
                        
                    }
                </td>
                <td>
                    @if (item.NgayShip > DateTime.Now)
                    {
                        <a href="/PhieuXuat/Cancel?id=@item.MaPX">@*@Html.Action("Cancel", "PhieuXuat", new { id = item.MaPX })*@ Hủy đơn</a>
                    }
                    |<a href="/PhieuXuat/Details?id=@item.MaPX" >Chi tiết đơn hàng</a>

                </td>
            </tr>
        }


    </table>
    <!-- Thêm mã phân trang -->
    <br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    <!-- Kết thúc -->
</div>
