
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style type="text/css">
    .styled-table {
        border-collapse: collapse;
        margin: auto;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 90%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        margin-top: 15px;
    }

    .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
    }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }

            .styled-table tbody tr.active-row {
                font-weight: bold;
                color: #009879;
            }
</style>

<div padding-left: 15px>Quản lí sản phẩm</div>

<table class="styled-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dom</td>
            <td>6000</td>
        </tr>
        <tr class="active-row">
            <td>Melissa</td>
            <td>5150</td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>

@*<table id=" = "sanphamTable" class="display">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Mô tả</th>
                <th>Giá khuyến mãi</th>
                <th>Ảnh</th>
                <th>Mã loại sản phẩm</th>
                <th>Mã khuyễn mãi</th>
            </tr>
        </thead>
    </table>

    <link href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet"/>

    @section scripts
        {
            <script src ="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

            <script>
                    $(documment).ready(function () {
                        $("#sanphamTable").DataTable({
                            "ajax": {
                                "url": "/SanPham/GetData",
                                "type": "GET",
                                "datatype":"json"
                            },
                            "columns": [
                                { "data": "Mã sản phẩm" },
                                { "data": "Tên sản phẩm" },
                                { "data": "Số lượng" },
                                { "data": "Đơn giá" },
                                { "data": "Mô tả" },
                                { "data": "Giá khuyến mãi" },
                                { "data": "Ảnh" },
                                { "data": "Mã loại sản phẩm" },
                                { "data": "Mã khuyễn mãi" }
                            ]
                        });
                    });
            </script>
        }*@
