@model List<Eshopper.Commom.CartItem>
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ;
}

<h2 style="text-align:center">Chúc mừng bạn đã thanh toán thành công</h2>
<h2 style="text-align:center">Hãy vào phần lịch sử đơn hàng để theo dõi đơn hàng của mình nhé</h2>

<a href="/Home/Index" style="text-align:center">Hãy quay lại trang chủ và mua sắm tiếp nhé</a>

