
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center"> Chúc mừng bạn đã thanh toán thành công</h2>
<h2 style="text-align:center"> Hãy vào phần lịch sử đơn hàng để theo dõi đơn hàng của mình nhé</h2>
<a class="btn btn-primary" href="/Card/Check">Hãy quay lại và mua sắm tiếp nhé</a>



