USE [master]
GO
/****** Object:  Database [ShopLinhKien]    Script Date: 3/20/2021 10:32:36 PM ******/
CREATE DATABASE [ShopLinhKien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopLinhKien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ShopLinhKien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopLinhKien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ShopLinhKien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopLinhKien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopLinhKien]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[MaAdmin] [char](10) NOT NULL,
	[UserAd] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Pass] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangKhuyenMai]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangKhuyenMai](
	[MaKM] [char](10) NOT NULL,
	[TienKM] [int] NULL,
	[TiLeKM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBL] [char](10) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDang] [date] NULL,
	[LuotThich] [int] NULL,
	[MaSP] [char](10) NULL,
	[MaND] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTGioHang]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTGioHang](
	[MaGH] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuNhap]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNhap](
	[MaPN] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuXuat]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuXuat](
	[MaPX] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGH] [char](10) NOT NULL,
	[MaND] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiND]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiND](
	[MaLoaiND] [char](10) NOT NULL,
	[TenLoai] [nvarchar](max) NULL,
	[SoDinhDanh] [int] NULL,
	[MaKM] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoaiSP] [char](10) NOT NULL,
	[TenLoai] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[URLAnh] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [char](10) NOT NULL,
	[SDT] [varchar](50) NULL,
	[GioiTinh] [char](10) NULL,
	[Tuoi] [int] NULL,
	[DiaChi] [nvarchar](max) NULL,
	[UserName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Pass] [varchar](50) NULL,
	[MaLoaiND] [char](10) NULL,
	[TenND] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCC]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCC](
	[MaNCC] [char](10) NOT NULL,
	[Ten] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [varchar](50) NULL,
	[Email] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [char](10) NOT NULL,
	[NgayNhap] [date] NULL,
	[MaNCC] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MaPX] [char](10) NOT NULL,
	[NgayDat] [date] NULL,
	[NgayShip] [date] NULL,
	[MaND] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Code] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [char](10) NOT NULL,
	[TenSP] [nvarchar](max) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaKM] [int] NULL,
	[URLAnh] [varchar](max) NULL,
	[MaLoaiSP] [char](10) NULL,
	[MaKM] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleId] [uniqueidentifier] NOT NULL,
	[UserId] [char](10) NOT NULL,
	[Note] [nvarchar](250) NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([MaAdmin], [UserAd], [Email], [Pass]) VALUES (N'ad1       ', N'lam', N'buihoanglam99@gmail.com', N'123456')
INSERT [dbo].[Admin] ([MaAdmin], [UserAd], [Email], [Pass]) VALUES (N'ad2       ', N'linh', N'linh@gmail.com', N'123456')
INSERT [dbo].[Admin] ([MaAdmin], [UserAd], [Email], [Pass]) VALUES (N'ad3       ', N'dat', N'dat@gmail.com', N'123456')
GO
INSERT [dbo].[BangKhuyenMai] ([MaKM], [TienKM], [TiLeKM]) VALUES (N'mkm1      ', 100000, 0)
INSERT [dbo].[BangKhuyenMai] ([MaKM], [TienKM], [TiLeKM]) VALUES (N'mkm2      ', 0, 5)
GO
INSERT [dbo].[BinhLuan] ([MaBL], [NoiDung], [NgayDang], [LuotThich], [MaSP], [MaND]) VALUES (N'bl1       ', N'Sản phẩm tốt', CAST(N'2020-01-01' AS Date), 2, N'sp1       ', N'nd1       ')
INSERT [dbo].[BinhLuan] ([MaBL], [NoiDung], [NgayDang], [LuotThich], [MaSP], [MaND]) VALUES (N'bl2       ', N'Sản phẩm tốt lắm!', CAST(N'2020-01-02' AS Date), 3, N'sp1       ', N'nd2       ')
GO
INSERT [dbo].[CTGioHang] ([MaGH], [MaSP], [SoLuong]) VALUES (N'gh1       ', N'sp1       ', 1)
INSERT [dbo].[CTGioHang] ([MaGH], [MaSP], [SoLuong]) VALUES (N'gh2       ', N'sp2       ', 2)
GO
INSERT [dbo].[CTPhieuNhap] ([MaPN], [MaSP], [SoLuong], [DonGia]) VALUES (N'PN00000001', N'sp10      ', 10, 1500000)
INSERT [dbo].[CTPhieuNhap] ([MaPN], [MaSP], [SoLuong], [DonGia]) VALUES (N'PN00000001', N'sp24      ', 15, 1500000)
INSERT [dbo].[CTPhieuNhap] ([MaPN], [MaSP], [SoLuong], [DonGia]) VALUES (N'PN00000002', N'sp10      ', 20, 1500000)
GO
INSERT [dbo].[CTPhieuXuat] ([MaPX], [MaSP], [SoLuong]) VALUES (N'PX00000001', N'sp1       ', 10)
INSERT [dbo].[CTPhieuXuat] ([MaPX], [MaSP], [SoLuong]) VALUES (N'PX00000001', N'sp11      ', 15)
INSERT [dbo].[CTPhieuXuat] ([MaPX], [MaSP], [SoLuong]) VALUES (N'px1       ', N'sp1       ', 1)
GO
INSERT [dbo].[GioHang] ([MaGH], [MaND]) VALUES (N'gh1       ', N'nd1       ')
INSERT [dbo].[GioHang] ([MaGH], [MaND]) VALUES (N'gh2       ', N'nd2       ')
GO
INSERT [dbo].[LoaiND] ([MaLoaiND], [TenLoai], [SoDinhDanh], [MaKM]) VALUES (N'lnd1      ', N'Khách vãng lai', 1, NULL)
INSERT [dbo].[LoaiND] ([MaLoaiND], [TenLoai], [SoDinhDanh], [MaKM]) VALUES (N'lnd2      ', N'Khách quen', 2, NULL)
INSERT [dbo].[LoaiND] ([MaLoaiND], [TenLoai], [SoDinhDanh], [MaKM]) VALUES (N'lnd3      ', N'Khách vip', 3, N'mkm1      ')
GO
INSERT [dbo].[LoaiSP] ([MaLoaiSP], [TenLoai], [MoTa], [URLAnh]) VALUES (N'lsp001    ', N'CPU ', N'Bộ vi xử lý', N'')
INSERT [dbo].[LoaiSP] ([MaLoaiSP], [TenLoai], [MoTa], [URLAnh]) VALUES (N'lsp002    ', N'Mainboard', N'Bo mạch chủ ', N'')
INSERT [dbo].[LoaiSP] ([MaLoaiSP], [TenLoai], [MoTa], [URLAnh]) VALUES (N'lsp003    ', N'RAM', N'Bộ nhớ trong', N'')
GO
INSERT [dbo].[NguoiDung] ([MaND], [SDT], [GioiTinh], [Tuoi], [DiaChi], [UserName], [Email], [Pass], [MaLoaiND], [TenND], [MatKhau]) VALUES (N'ND00000001', N'0825646631', NULL, NULL, N'Hà Nội', N'nguyenvana', N'nguyenvana@gmail.com', NULL, NULL, N'Nguyễn Văn A', N'kgVyzILwJchzhJVW35KKCPLhZelKCAC+cUEmNRuFzhxHgRru8A8=')
INSERT [dbo].[NguoiDung] ([MaND], [SDT], [GioiTinh], [Tuoi], [DiaChi], [UserName], [Email], [Pass], [MaLoaiND], [TenND], [MatKhau]) VALUES (N'nd1       ', N'0367035548', N'Nam       ', 22, N'Ngãi Cầu - An ndánh - Hoài Đức - Hà Nội', N'buihoanglam', N'buihoanglam99@gmail.com', N'123456', N'lnd1      ', N'Bùi Hoàng Lam', N'kgVyzILwJchzhJVW35KKCPLhZelKCAC+cUEmNRuFzhxHgRru8A8=')
INSERT [dbo].[NguoiDung] ([MaND], [SDT], [GioiTinh], [Tuoi], [DiaChi], [UserName], [Email], [Pass], [MaLoaiND], [TenND], [MatKhau]) VALUES (N'nd2       ', N'', N'Nam       ', 22, N'', N'leduydat', N'dat@gmail.com', N'123456', N'lnd2      ', N'Nguyễn Duy Đạt', N'kgVyzILwJchzhJVW35KKCPLhZelKCAC+cUEmNRuFzhxHgRru8A8=')
GO
INSERT [dbo].[NhaCC] ([MaNCC], [Ten], [DiaChi], [SDT], [Email]) VALUES (N'ncc1      ', N'Le Duong Electronics', N'số 56 Hoàng Hoa Thám, Tây Hồ, Hà Nội (Mặt đường, đối diện trường tiểu học Ba Đình)', N'024 2421 882', N'')
INSERT [dbo].[NhaCC] ([MaNCC], [Ten], [DiaChi], [SDT], [Email]) VALUES (N'ncc2      ', N'Cửa hàng linh kiện điện tử Hoàng Phát', N'Số 9-B1-Thủ lệ 1-Ngọc khánh-Ba đình-HN (đi ngõ 113 Đào tấn)', N'0834.661158 ', N'dientuhoangphat@gmail.com')
INSERT [dbo].[NhaCC] ([MaNCC], [Ten], [DiaChi], [SDT], [Email]) VALUES (N'ncc3      ', N'Công ty TNHH điện tử công nghiệp Ritech', N'Số 43, Ngõ 467 Phạm Văn Đồng, Cổ Nhuế, Từ Liêm, Hà Nội', N'0902 187 499', N'ritech.vn@gmail.com')
GO
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNCC]) VALUES (N'PN00000001', CAST(N'2021-03-20' AS Date), N'ncc2      ')
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNCC]) VALUES (N'PN00000002', CAST(N'2021-03-20' AS Date), N'ncc2      ')
GO
INSERT [dbo].[PhieuXuat] ([MaPX], [NgayDat], [NgayShip], [MaND]) VALUES (N'PX00000001', CAST(N'2021-03-20' AS Date), CAST(N'2021-01-07' AS Date), N'nd1       ')
INSERT [dbo].[PhieuXuat] ([MaPX], [NgayDat], [NgayShip], [MaND]) VALUES (N'px1       ', CAST(N'2021-01-01' AS Date), CAST(N'2021-01-07' AS Date), N'nd1       ')
INSERT [dbo].[PhieuXuat] ([MaPX], [NgayDat], [NgayShip], [MaND]) VALUES (N'px2       ', CAST(N'2021-01-01' AS Date), CAST(N'2021-03-20' AS Date), N'nd2       ')
GO
INSERT [dbo].[Role] ([Id], [Name], [Code]) VALUES (N'c49277f1-6044-4b15-39e3-08d8e8256f3d', N'Admin', N'admin')
INSERT [dbo].[Role] ([Id], [Name], [Code]) VALUES (N'39ee3fb7-2690-4cd9-4973-08d8e85face2', N'Member', N'member')
INSERT [dbo].[Role] ([Id], [Name], [Code]) VALUES (N'7967650b-fdb9-4204-a932-3517092acd79', N'Employee', N'employee')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SoLuong], [DonGia], [MoTa], [GiaKM], [URLAnh], [MaLoaiSP], [MaKM]) VALUES (N'sp1       ', N'CPU Intel Xeon Silver 4110', 60, 12999000, N'Dòng sản phẩm chuyên biệt dành cho server/máy trạm 8 nhân & 16 luồng Xung nhịp: 2.1GHz (Cơ bản) / 3.0GHz (Boost) Socket: LGA 3647 Hỗ trợ RAM ECC Không kèm quạt tản nhiệt từ hãng Không tích hợp sẵn iGPU', 11999000, N'/images/sanphams/2021/03/20/132606964955043275.png', N'lsp001    ', N'mkm1      ')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SoLuong], [DonGia], [MoTa], [GiaKM], [URLAnh], [MaLoaiSP], [MaKM]) VALUES (N'sp10      ', N'Mainboard ASUS ROG STRIX Z490-I GAMING', 67, 7299000, N'Chuẩn mainboard: Mini ITXSocket: 1200, Chipset: Z490Hỗ trợ RAM: 2 khe DDR4, tối đa 64GBLưu trữ: 2 x M.2 NVMe, 4 x SATA 3 6Gb/sCổng xuất hình: 1 x HDMI, 1 x DisplayPort', 7299000, N'/images/sanphams/2021/03/20/132607092013242970.png', N'lsp002    ', N'mkm1      ')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SoLuong], [DonGia], [MoTa], [GiaKM], [URLAnh], [MaLoaiSP], [MaKM]) VALUES (N'sp11      ', N'DDRam 4 Kingston ECC 16GB 2400Mhz', 0, 2999000, N' KSM24ED8/16ME', 2900000, N'/images/sanphams/2021/03/20/132607092075085834.png', N'lsp003    ', N'mkm1      ')
GO
INSERT [dbo].[UserRole] ([RoleId], [UserId], [Note]) VALUES (N'c49277f1-6044-4b15-39e3-08d8e8256f3d', N'ND00000001', NULL)
INSERT [dbo].[UserRole] ([RoleId], [UserId], [Note]) VALUES (N'c49277f1-6044-4b15-39e3-08d8e8256f3d', N'nd1       ', NULL)
INSERT [dbo].[UserRole] ([RoleId], [UserId], [Note]) VALUES (N'39ee3fb7-2690-4cd9-4973-08d8e85face2', N'ND00000001', NULL)
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTGioHang]  WITH CHECK ADD FOREIGN KEY([MaGH])
REFERENCES [dbo].[GioHang] ([MaGH])
GO
ALTER TABLE [dbo].[CTGioHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTPhieuXuat]  WITH CHECK ADD FOREIGN KEY([MaPX])
REFERENCES [dbo].[PhieuXuat] ([MaPX])
GO
ALTER TABLE [dbo].[CTPhieuXuat]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[LoaiND]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[BangKhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([MaLoaiND])
REFERENCES [dbo].[LoaiND] ([MaLoaiND])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCC] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[BangKhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LoaiSP] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_NguoiDung] FOREIGN KEY([UserId])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_NguoiDung]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
/****** Object:  StoredProcedure [dbo].[ThongKe_Nhap]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKe_Nhap]
AS
BEGIN
	SELECT pn.MaPN, pn.MaNCC, ncc.Ten AS TenNCC, SUM(SoLuong) AS  TotalQuantities, SUM(DonGia) AS TotalPrices
	FROM PhieuNhap pn
	INNER JOIN CTPhieuNhap ct ON ct.MaPN = pn.MaPN
	INNER JOIN dbo.NhaCC ncc ON ncc.MaNCC = pn.MaNCC
	GROUP BY pn.MaPN, pn.MaNCC, ncc.Ten
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKe_Nhap_Khoang_Thoi_gian]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKe_Nhap_Khoang_Thoi_gian] @startDate DATETIME, @endDate DATETIME
AS
BEGIN
	SELECT pn.MaPN, pn.MaNCC, ncc.Ten AS TenNCC, SUM(SoLuong) AS  TotalQuantities, SUM(DonGia) AS TotalPrices
	FROM PhieuNhap pn
	INNER JOIN CTPhieuNhap ct ON ct.MaPN = pn.MaPN
	INNER JOIN dbo.NhaCC ncc ON ncc.MaNCC = pn.MaNCC
	WHERE pn.NgayNhap BETWEEN @startDate AND @endDate
	GROUP BY pn.MaPN, pn.MaNCC, ncc.Ten
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKe_Top_10SP_BanChay]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKe_Top_10SP_BanChay]
AS
BEGIN
	SELECT TOP(10) sp.MaSP, sp.TenSP, SUM(ct.SoLuong) AS TotalQuantities, SUM(ct.SoLuong*sp.DonGia) AS TotalPrices
	FROM dbo.SanPham AS sp
	INNER JOIN dbo.CTPhieuXuat AS ct ON ct.MaSP = sp.MaSP
	GROUP BY sp.MaSP, sp.TenSP
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKe_Top_10SP_BanChay_Trong_Khoang_Thoi_gian]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKe_Top_10SP_BanChay_Trong_Khoang_Thoi_gian] @startDate DATETIME, @endDate DATETIME
AS
BEGIN
	SELECT TOP(10) sp.MaSP, sp.TenSP, SUM(ct.SoLuong) AS TotalQuantities, SUM(ct.SoLuong*sp.DonGia) AS TotalPrices
	FROM dbo.SanPham AS sp
	INNER JOIN dbo.CTPhieuXuat AS ct ON ct.MaSP = sp.MaSP
	INNER JOIN dbo.PhieuXuat AS px ON px.MaPX = ct.MaPX
	WHERE px.NgayDat BETWEEN @startDate AND @endDate
	GROUP BY sp.MaSP, sp.TenSP
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKe_Xuat]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKe_Xuat]
AS
BEGIN
	SELECT px.MaPX, nd.TenND , px.NgayDat, px.NgayShip, SUM(ct.SoLuong) AS  TotalQuantities, SUM(ct.SoLuong*sp.DonGia) AS TotalPrices
	FROM dbo.PhieuXuat AS px
	INNER JOIN dbo.CTPhieuXuat ct ON ct.MaPX = px.MaPX
	INNER JOIN dbo.SanPham AS sp ON sp.MaSP = ct.MaSP
	INNER JOIN dbo.NguoiDung AS nd ON nd.MaND = px.MaND
	GROUP BY px.MaPX, nd.TenND , px.NgayDat, px.NgayShip
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKe_Xuat_Khoang_Thoi_gian]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKe_Xuat_Khoang_Thoi_gian] @startDate DATETIME, @endDate DATETIME
AS
BEGIN
	SELECT px.MaPX, nd.TenND , px.NgayDat, px.NgayShip, SUM(ct.SoLuong) AS  TotalQuantities, SUM(ct.SoLuong*sp.DonGia) AS TotalPrices
	FROM dbo.PhieuXuat AS px
	INNER JOIN dbo.CTPhieuXuat ct ON ct.MaPX = px.MaPX
	INNER JOIN dbo.SanPham AS sp ON sp.MaSP = ct.MaSP
	INNER JOIN dbo.NguoiDung AS nd ON nd.MaND = px.MaND
	WHERE px.NgayDat BETWEEN @startDate AND @endDate
	GROUP BY px.MaPX, nd.TenND , px.NgayDat, px.NgayShip
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKe_Xuat_Theo_Nguoi_Dung]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKe_Xuat_Theo_Nguoi_Dung]
AS
BEGIN
	SELECT nd.TenND, nd.SDT, nd.DiaChi, SUM(ct.SoLuong) AS  TotalQuantities, SUM(ct.SoLuong*sp.DonGia) AS TotalPrices
	FROM dbo.PhieuXuat AS px
	INNER JOIN dbo.CTPhieuXuat ct ON ct.MaPX = px.MaPX
	INNER JOIN dbo.SanPham AS sp ON sp.MaSP = ct.MaSP
	INNER JOIN dbo.NguoiDung AS nd ON nd.MaND = px.MaND
	GROUP BY nd.TenND, nd.SDT, nd.DiaChi
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKe_Xuat_Theo_Nguoi_Dung_Khoang_Thoi_gian]    Script Date: 3/20/2021 10:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKe_Xuat_Theo_Nguoi_Dung_Khoang_Thoi_gian] @startDate DATETIME, @endDate DATETIME
AS
BEGIN
	SELECT nd.TenND, nd.SDT, nd.DiaChi, SUM(ct.SoLuong) AS  TotalQuantities, SUM(ct.SoLuong*sp.DonGia) AS TotalPrices
	FROM dbo.PhieuXuat AS px
	INNER JOIN dbo.CTPhieuXuat ct ON ct.MaPX = px.MaPX
	INNER JOIN dbo.SanPham AS sp ON sp.MaSP = ct.MaSP
	INNER JOIN dbo.NguoiDung AS nd ON nd.MaND = px.MaND
	WHERE px.NgayDat BETWEEN @startDate AND @endDate
	GROUP BY nd.TenND, nd.SDT, nd.DiaChi
END
GO
USE [master]
GO
