@model List<Eshopper.Models.EF.LoaiND>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    #titleadmin {
        margin-left: 1%;
        margin-bottom: 1%;
        font-family: sans-serif;
        color: #4e73df;
        font: bold;
    }

    #customers {
        font-size: 0.9em;
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-left: 1%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            /* background-color: #009879;*/
            background-color: #4e73df;
            color: white;
        }
</style>

<body>
    <div id="titleadmin">QUẢN LÝ LOẠI NGƯỜI DÙNG</div>

    <table id="customers">
        <tr>
            <th>Mã loại người dùng/th>
            <th>Tên loại</th>
            <th>Số định danh</th>
            @*<th>Mã khuyến mãi</th>*@
            <th style="width:80px"><img src="~/Assets/images/icons/add.png" style="margin-left:30%" /><a href="/Admin/LoaiND/Create">Thêm mới</a></th>
        </tr>
        @foreach (Eshopper.Models.EF.LoaiND item in Model)
        {
            <tr>
                <td>@item.MaLoaiND</td>
                <td>@item.TenLoai</td>
                <td>@item.SoDinhDanh</td>
                @*<td>@item.MaKM</td>*@
                <td>
                    <a href="/Admin/LoaiND/Edit/@item.MaLoaiND"><img src="~/Assets/images/icons/edit.png" /></a>
                    <a href="/Admin/LoaiND/Delete/@item.MaLoaiND"> <img src="~/Assets/images/icons/delete.png" /></a>

                </td>
                @*<td colspan="2"><img src="~/Assets/images/icons/delete.png" /></td>*@
            </tr>
        }
    </table>

</body>

